@page "/cart"
@using ArtStudio.Component
@using ArtStudio.Models
@using ArtStudio.Services
@using MudBlazor
@using System.Linq
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDBContext dBContext
@inject NavigationManager navigationManager
@inject SessionService sessionService
@inject EntityService entityService
<div class="mt-5 index-container">
    <MudGrid Spacing="1">
        @foreach (var item in ResourcesInCartList)
        {
            string href = "";


            if (item.GetType() == typeof(Video))
                href = "/Content/Video/" + item.Category.DisplayAlias + "/" + item.Id;
            if (item.GetType() == typeof(Photo))
                href = "/Content/Photo/" + item.Category.DisplayAlias + "/" + item.Id;
            <MudItem xs=6 sm=3 Class="card_block">
                    <MudCard Class="scale-in-center">
                        <NavLink href="@href">
                            <MudCardMedia Image="@item.URL" Height="200" />
                            <MudCardContent>
                                <MudText Color="MudBlazor.Color.Dark" Typo="Typo.h5">@item.DisplayAlias</MudText>
                                <MudText Color="MudBlazor.Color.Dark" Typo="Typo.body2">@item.Category.DisplayAlias</MudText>
                                <MudText Color="MudBlazor.Color.Dark" Typo="Typo.body2">@item.Description</MudText>
                            </MudCardContent>
                        </NavLink>
                        <MudCardActions>
                            <MudIconButton Icon="@Icons.Material.Filled.ShoppingCart" @onclick="() =>  DeleteFromCart(item)" Color="Color.Primary" />
                        </MudCardActions>
                    </MudCard>
            </MudItem>
        }
    </MudGrid>
</div>

@code {
    public List<Resource> ResourcesInCartList = new List<Resource>();
    public Session session = null;
    protected override void OnInitialized()
    {
        session = sessionService.GetSession();
        if (session == null)
            navigationManager.NavigateTo("/");

        ResourcesInCartList = dBContext.UserCartContents.Include(c => c.Resource).Where(c => c.ApplicationUserId == session.Id).Select(c => c.Resource).ToList();
    }
    public void DeleteFromCart(Resource resource)
    {
        ResourcesInCartList.Remove(resource);
        entityService.DeleteInCart(session.Id, resource.Id);
    }
}
