@page "/content/{type}/{category}/{id}"

@using ArtStudio.Component
@using ArtStudio.Models
@using ArtStudio.Services
@using MudBlazor
@using System.Linq
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDBContext dBContext
@inject NavigationManager navigationManager
@inject SessionService sessionService
@inject EntityService entityService
<div class="p-3 w-100 d-flex d-wrap">
    <MudGrid Spacing="1">
        <MudItem xs=8 Class="" Style="min-width:900px">
            <div class="d-flex">
                @if (Type.ToLower() == "video")
                {
                    <VideoConstructor ContainerClass="content_video d-flex" Height="550px"></VideoConstructor>
                }
                @if (Type.ToLower() == "photo")
                {
                    <ImageConstructor ContainerClass="content_video d-flex" Height="550px"></ImageConstructor>
                }

            </div>
        </MudItem>
        <MudItem xs=4 Class="" Style="max-width:500px!important">
            <div class="content_header">
                <div class="content_name font-weight-bold">@ContentResource.DisplayAlias</div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center align-items-center big-btn-PD">
                    <a  class="shine-button" @onclick="ToggleInCart">@ButtonText</a>
                </div>
            </div>
            <div class="divider mt-2 mb-2 ml-3 mr-3 "></div>
            <div class="properties_block">
                <div class="property">
                    <div class="property_name font-weight-bold">Описание</div>
                    <div class="property_value secondary-text">@ContentResource.Description</div>
                </div>
                <div class="property">
                    <div class="property_name font-weight-bold">Аттрибуты</div>
                    <div class="d-flex justify-space-between">
                        <div class="property_sub">Расширение</div>
                        <div class="property_value secondary-text">@ContentResource.Resolution</div>
                    </div>
                    <div class="d-flex justify-space-between">
                        <div class="property_sub">Размер</div>
                        <div class="property_value secondary-text">@ContentResource.Size</div>
                    </div>

                </div>
                <div class="property">
                    <div class="property_name font-weight-bold">Теги</div>
                    <div class="property_value secondary-text">@ContentResource.Tags</div>
                </div>

            </div>
        </MudItem>

    </MudGrid>
</div>





@code{
    [Parameter]
    public string Type { get; set; }
    [Parameter]
    public string Category { get; set; }
    [Parameter]
    public string Id { get; set; }

    public string ButtonLink = "";
    public string ButtonText = "Добавить в корзину";
    public bool isInCart = false;
    public Resource ContentResource { get; set; }
    protected override void OnInitialized()
    {
        if (String.IsNullOrEmpty(Id))
            navigationManager.NavigateTo("/");

        if (String.IsNullOrEmpty(Type) && (Type.ToLower() != "video" || Type.ToLower() != "photo"))
            navigationManager.NavigateTo("/");

        ContentResource = entityService.GetResource(Id, Type);

        if (ContentResource == null)
            navigationManager.NavigateTo("/");
        if (sessionService.GetSession() != null)
        {
            isInCart = dBContext.UserCartContents.Any(c => c.ResourceId == Guid.Parse(Id) && c.ApplicationUserId == Guid.Parse(sessionService.GetUserId()));
            ButtonText = isInCart ? "Удалить с корзины" : "Добавить в корзину";
        }
        else
            ButtonLink = "/login";
    }
    public void ToggleInCart()
    {
        if (sessionService.GetSession() != null)
        {
            bool result = isInCart ? entityService.DeleteInCart(Guid.Parse(sessionService.GetUserId()), Guid.Parse(Id)) : entityService.AddToCart(Guid.Parse(sessionService.GetUserId()), Guid.Parse(Id));

            if (result)
                isInCart = !isInCart;
            ButtonText = isInCart ? "Удалить с корзины" : "Добавить в корзину";
            
        }

    }

}