@page "/content/{name}/{category}/{id}"

@using ArtStudio.Component
@using ArtStudio.Models
@using MudBlazor
<div class="p-3 w-100">
    <MudGrid Spacing="1">
        <MudItem xs=8 Class="">
            <div class="d-flex">
                @if (Name == "video")
                {
                    <ArtVideo ContainerClass="content_video d-flex" Height="550px"></ArtVideo>
                }
                @if (Name == "image")
                {
                    <ArtImage ContainerClass="content_video d-flex" Height="550px"></ArtImage>
                }

            </div>
        </MudItem>
        <MudItem xs=4 Class="">
            <div class="content_header">
                <div class="content_name font-weight-bold">@ContentResource.DisplayAlias</div>

            </div>
            <MudButton Variant="Variant.Filled" Size="Size.Large" Class="m-1" Link="login" Color="Color.Primary">Добавить в корзину</MudButton>

            <div class="properties_block">
                <div class="property">
                    <div class="property_name font-weight-bold">Описание</div>
                    <div class="property_value secondary-text">@ContentResource.Description</div>
                </div>
                <div class="property">
                    <div class="property_name font-weight-bold">Аттрибуты</div>
                    <div class="property_sub">Расширение</div>
                    <div class="property_value secondary-text">@ContentResource.Resolution</div>
                    <div class="property_sub">Размер</div>
                    <div class="property_value secondary-text">@ContentResource.Size</div>
                </div>
                <div class="property">
                    <div class="property_name font-weight-bold">Теги</div>
                    <div class="property_value secondary-text">@ContentResource.Tags</div>
                </div>

            </div>
        </MudItem>

    </MudGrid>
</div>





@code{
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Category { get; set; }
    [Parameter]
    public string Id { get; set; }

    public Resource ContentResource { get; set; }
    protected override void OnInitialized()
    {
        ContentResource = new Resource
        {
            DisplayAlias = "Ресурс для примера",
            Size = "120мб",
            Resolution = "1280 х 720",
            Tags = "хоп тег два тег",
            Description = "ьалфцьа лфцт алфцта лдцфат флдц атдфцт алдфц талдцфт алдфцт алдфцт алдфцт цлдф т",
            Id = Guid.NewGuid(),
            Enabled = true,
            Price = 10,
            URL = "/"
        };
    }

}