@page "/content/{name}/{category}/{id}"

@using ArtStudio.Component
@using ArtStudio.Models
@using MudBlazor

<div class="p-3 w-100 d-flex d-wrap">
    <MudGrid Spacing="1">
        <MudItem xs=8 Class="" Style="min-width:900px">
            <div class="d-flex">
                @if (Name == "video")
                {
                    <VideoConstructor ContainerClass="content_video d-flex" Height="550px"></VideoConstructor>
                }
                @if (Name == "image")
                {
                    <ImageConstructor ContainerClass="content_video d-flex" Height="550px"></ImageConstructor>
                }

            </div>
        </MudItem>
        <MudItem xs=4 Class="" Style="max-width:500px!important">
            <div class="content_header">
                <div class="content_name font-weight-bold">@ContentResource.DisplayAlias</div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center align-items-center big-btn-PD">
                    <a href="@ButtonLink" class="shine-button">Добавить в корзину</a>
                </div>
            </div>
            <div class="divider mt-2 mb-2 ml-3 mr-3 "></div>
            <div class="properties_block">
                <div class="property">
                    <div class="property_name font-weight-bold">Описание</div>
                    <div class="property_value secondary-text">@ContentResource.Description</div>
                </div>
                <div class="property">
                    <div class="property_name font-weight-bold">Аттрибуты</div>
                    <div class="d-flex justify-space-between">
                        <div class="property_sub">Расширение</div>
                        <div class="property_value secondary-text">@ContentResource.Resolution</div>
                    </div>
                    <div class="d-flex justify-space-between">
                        <div class="property_sub">Размер</div>
                        <div class="property_value secondary-text">@ContentResource.Size</div>
                    </div>

                </div>
                <div class="property">
                    <div class="property_name font-weight-bold">Теги</div>
                    <div class="property_value secondary-text">@ContentResource.Tags</div>
                </div>

            </div>
        </MudItem>

    </MudGrid>
</div>





@code{
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Category { get; set; }
    [Parameter]
    public string Id { get; set; }

    public string ButtonLink = "#";
    public Resource ContentResource { get; set; }
    protected override void OnInitialized()
    {
        ContentResource = new Resource
        {
            DisplayAlias = "Ресурс для примера",
            Size = "120мб",
            Resolution = "1280 х 720",
            Tags = "хоп тег два тег",
            Description = "ьалфцьа лфцт алфцта лдцфат флдц атдфцт алдфц талдцфт алдфцт алдфцт алдфцт цлдф т",
            Id = Guid.NewGuid(),
            Enabled = true,
            Price = 10,
            URL = "/"
        };
    }

}