@page "/"
@using ArtStudio.Models
@using ArtStudio.Component
@using MudBlazor
@using System.Linq
@using ArtStudio.Services
@using Microsoft.EntityFrameworkCore;
@using ArtStudio.Data;
@inject ApplicationDBContext dBContext
@inject HttpContextAccessor context
@inject SessionService sessionService
@inject EntityService entityService
@inject NavigationManager navigationManager
<VideoConstructor Controls="none" Autoplay="autoplay" Loop="loop"></VideoConstructor>
<div class="index-container">
    <MudGrid Spacing="1">
        @foreach (var item in ResourcesList)
        {
            string href = "/Content/Photo/" + item.Category.DisplayAlias + "/" + item.Id;

            <MudItem xs=6 sm=3 Class="card_block">

                <MudCard Class="scale-in-center">
                    <NavLink href="@href">
                        <MudCardMedia Image="@item.URL" Height="200" />
                        <MudCardContent>
                            <MudText Color="MudBlazor.Color.Dark" Typo="Typo.h5">@item.DisplayAlias.SafeSubstring(23)</MudText>
                            <MudText Color="MudBlazor.Color.Dark" Typo="Typo.subtitle1">@item.Category.DisplayAlias</MudText>
                            <MudText Color="MudBlazor.Color.Dark" Typo="Typo.body2">@item.Description.SafeSubstring(200)</MudText>
                        </MudCardContent>
                    </NavLink>
                    <MudCardActions>
                        <MudIconButton Icon="@Icons.Material.Filled.ShoppingCart" @onclick="()=>ToggleInCart(item)" Color="SetColor(item)" />
                    </MudCardActions>
                </MudCard>

            </MudItem>
        }

    </MudGrid>
</div>
@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    public List<Resource> ResourcesList = new List<Resource>();
    public AppSession session = null;
    [Inject] private IDialogService DialogService { get; set; }

    protected override void OnInitialized()
    {
        session = sessionService.GetSession();
        var photosList = dBContext.Photos.Include(r => r.Category).Where(r => r.Enabled).ToList();
        ResourcesList.AddRange(photosList);
    }
    public Color SetColor(Resource resource)
    {
        Color result = Color.Default;
        if (session != null)
        {
            bool isInCart = dBContext.UserCartContents.Any(c => c.ApplicationUserId == session.Id.ToString() && c.ResourceId == resource.Id && c.Enabled);

            result = isInCart ? Color.Primary : Color.Default;
        }
        return result;

    }

    public async void ToggleInCart(Resource resource)
    {
        if (session == null)
            navigationManager.NavigateTo("login");
        else
        {
            bool isInCart = dBContext.UserCartContents.Any(c => c.ApplicationUserId == session.Id.ToString() && c.ResourceId == resource.Id);


            if (isInCart)
            {
                var result = entityService.DeleteInCart(session.Id, resource.Id);
                var mb = await DialogService.ShowMessageBox("Товар удален с корзины", "", yesText: "Просмотреть корзину", cancelText: "Ок");
                if (mb != null)
                    navigationManager.NavigateTo("/cart");
            }
            else
            {
                var result = entityService.AddToCart(session.Id, resource.Id);
                if (result)
                {
                    var mb = await DialogService.ShowMessageBox("Товар добавлен в корзину", "", yesText: "Просмотреть корзину", cancelText: "Ок");
                    if (mb !=null)
                        navigationManager.NavigateTo("/cart");
                }
            }

            int index = ResourcesList.IndexOf(resource);
            ResourcesList.Remove(resource);
            ResourcesList.Insert(index, resource);
        }

    }
}