@inherits LayoutComponentBase
@using ArtStudio.Services
@using System.Security.Claims
@inject JSRuntimeService JSRuntimeService
@inject NavigationManager NavigationManager
@using MudBlazor
@using ArtStudio.Models
@using System.Linq
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDBContext dBContext
@inject SessionService SessionService
@inject EntityService entityService





<MudLayout Class="leyaout">
    <MudAppBar Elevation="1" Dense="true" Fixed="true">
        <MudIconButton Icon="@Icons.Material.Filled.ArrowBackIos" Color="Color.Inherit" Edge="Edge.Start" Class="@rotate" OnClick="@ToggleDrawer" />
        <NavLink href="/"><div class="@HeaderToggleClass"><span class="header_brand">@HeaderBrand</span></div></NavLink>
        <MudAppBarSpacer />
        @*<MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/Garderoben/MudBlazor" Target="_blank" />*@
        <div class="ml-auto d-flex" style="align-items:center; height:56px;" >


            <AuthorizeView>

                <NotAuthorized>
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="/login" class="shine-button primary-button button-small mr-2">Вход</a>
                    </div>
                    <MudAppBarSpacer />
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="/register" class="shine-button button-small">Регистрация</a>
                    </div>
                    <MudAppBarSpacer />
                </NotAuthorized>
                <Authorized>
                    <MudBadge Content="@CountOfCartContent" Color="CountOfCartContent == 0 ? Color.Default:Color.Primary" Overlap="true" Bottom="true" Class="mx-6 my-4">
                        <NavLink href="cart">
                            <MudIcon Icon="@Icons.Material.Filled.ShoppingCart" Color="CountOfCartContent == 0 ? Color.Secondary:Color.Primary" />
                        </NavLink>
                    </MudBadge>
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="/" @onclick="LogOut" class="shine-button button-small">Выход</a>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>

    </MudAppBar>
    <MudDrawer Class="sidebar-bg" @bind-Open="@open" Elevation="1">
        <MudNavMenu Style="color:white; font-family:Gilroy">
            @*<div class="mb-2">
                    <img src="/img/Logo.jpg" style="width:100%" />
                </div>*@

            <AuthorizeView>
                <Authorized>

                    <div class="text-center">@context.User.Identity.Name</div>
                    <div class="ca-d-flex ca-d-center m-2">
                        <MudAvatar Color="Color.Primary" Class="ca-avatar-80">@context.User.Identity.Name[0]</MudAvatar>
                    </div>
                    <div class="divider mt-2 ml-3 mr-3 "></div>
                </Authorized>
            </AuthorizeView>


            <div class="d-flex justify-content-center align-items-center big-btn-PD">
                <a href="/pricing" class="shine-button">Купить</a>
            </div>
            <AuthorizeView Policy="Admin">
                <Authorized>
                    <div class="d-flex justify-content-center align-items-center mt-2">
                        <a href="/admin" class="shine-button primary-button big-btn-PD">Админ панель</a>
                    </div>
                </Authorized>
            </AuthorizeView>

            <div class="divider  mb-2 ml-3 mr-3 "></div>



            <MudNavLink Href="/">Главная</MudNavLink>
            <MudNavGroup Title="Категории" Expanded="true">
                <MudNavLink Href="/video">Видео</MudNavLink>
                <MudNavLink Href="/image">Фото</MudNavLink>
            </MudNavGroup>
            <MudNavLink Href="/about">О нас</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="">
        <div style="margin-top:56px;" class="d-flex">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

<MudThemeProvider Theme="SWPO"></MudThemeProvider>
<MudDialogProvider></MudDialogProvider>
<MudSnackbarProvider></MudSnackbarProvider>

@code{


    public int CountOfCartContent = 0;

    public Session Session { get; set; }

    protected override void OnInitialized()
    {
        Session = SessionService.GetSession();
        if (Session != null)
            CountOfCartContent = dBContext.UserCartContents.Where(c => c.ApplicationUserId == Session.Id).Count();


    }


    public string HeaderBrand = "Sony World Photograpy Organization";
    public string HeaderToggleClass = "";
    MudTheme SWPO = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = "#9184EF",
            Secondary = "#4A5665",
            AppbarBackground = "#21272F",
            DrawerBackground = "#21272F",
            TextPrimary = "#ffffff",
            Divider = "#ffffff",
            PrimaryContrastText = "#ffffff",
            SecondaryContrastText = "rgba(255, 255, 255, 0.7);"

        },

        LayoutProperties = new LayoutProperties()
        {
            AppbarMinHeight = "0",
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px",


        },

        ZIndex = new ZIndex()
        {

        },
        Typography = new Typography()
        {
        }

    };

    bool open = false;
    string rotate = "t-3";

    void ToggleDrawer()
    {
        open = !open;
        rotate = open ? "rotate-180 t-3" : "t-3";
        HeaderBrand = open ? "" : "Sony World Photograpy Organization";
        HeaderToggleClass = open ? "slide-out-bck-left" : "slide-in-fwd-left";
    }

    public async void LogOut()
    {
        Response result = await JSRuntimeService.InvokeScript("SendRequest", new { type = "post", url = "/api/user/logout", data = "", contentType = "application/json" });
        if (result.isSuccess)
        {
            NavigationManager.NavigateTo("/", true);
        }
    }
}